<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../index.css">
    <link rel="icon" href="../img/Decenwser.ico">
    <script src="/pages/config/get_config.js" defer></script>
    <script src="/pages/config/modify_network.js" defer></script>
    <title>Configurations</title>
    <body>
        <h1>Configurations Settings</h1>
        <button id="network" onclick="modify_network()"></button>
    </body>
</html>