<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="./index.css">
    <script src="/convert.js" defer></script>
<div>
    <input
        type="text"
        name="input"
        id="output"
        className="convert"
      />
      <button onclick="convertInput()" width="50">
        Convert
      </button>
      <button onclick="deleteInput()" width="50">
        delete
      </button>
</div>
</html>