<html lang="en">
  <link rel="icon" href="./Decenwser.ico" />
  <link rel="stylesheet" href="./index.css" />
  <script src="/pages/convert.js" defer></script>
  <div id="drop-area">
    <form class="my-form">
      <p>Drag and drop your files here</p>
      <input
        type="file"
        id="fileElem"
        multiple
        accept=".js, .html, .css"
        onchange="handleFiles(this.files)"
        hidden
      />
      <label class="button" for="fileElem">Select files</label>
    </form>
  </div>
  <div id="output">
    <div id="html-output">
    </div>
    <div id="css-output">
    </div>
    <div id="js-output">
    </div>
    <h1 id="counter">0</h1>
  </div>
</html>