<!DOCTYPE html>
<html lang="en">
  <title>Convert</title>
  <link rel="icon" href="../../../img/Decenwser.ico" />
  <link rel="stylesheet" href="../../../index.css" />
   <script src="../../../pages/convert/html-root.js" defer></script>
  <script src="../../../pages/convert/progressBar.js" defer></script>
  <script src="../../../pages/convert/sendHtml.js" defer></script>
  <body>
    <div id="output">
        <button id="html-button">Send HTML</button>
        <br>
    </div>
    <div id="background-bar">
    <div id="fill-bar">
    </div>
    </div>
    <div id="web-buttons">
        <button id="go-back" onclick="createADomain()">Go back</button>
        <button id="next" onclick="Js()">Next</button>
    </div>
  </body>
</html>