<!DOCTYPE html>
<html lang="en">
  <title>Convert</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="icon" href="../../../../img/Decenwser.ico" />
  <link rel="stylesheet" href="../../../../index.css" />
  <script src="../../../../pages/convert/js-root.js" defer></script>
  <script src="../../../../pages/convert/progressBar.js" defer></script>
  <script src="../../../../pages/convert/sendJs.js" defer></script>
  <body>
    <div id="output">
      <div id="background-bar"></div>
      <div id="fill-bar"></div>
      <button id="js-button">Send Javascript</button>
    </div>
    <div id="web-buttons">
        <button id="go-back" onclick="Html()">Go back</button>
        <button id="next" onclick="Decenwser()">Menu</button>
    </div>
  </body>
</html>