<!DOCTYPE html>
<html lang="en">
  <title>Convert</title>
  <link rel="icon" href="../../../../img/Decenwser.ico" />
  <link rel="stylesheet" href="../../../../index.css" />
  <script src="../../../../pages/convert/js-root.js" defer></script>
  <script src="../../../../pages/convert/progressBar.js" defer></script>
  <script src="../../../../pages/convert/sendJs.js" defer></script>
  <body>
    <div id="output">
        <button id="js-button">Send Js</button>
        <br>
    </div>
    <div id="background-bar">
    <div id="fill-bar">
    </div>
    </div>
    <div id="web-buttons">
        <button id="go-back" onclick="Html()">Go back</button>
        <button id="next" onclick="Decenwser()">Menu</button>
    </div>
  </body>
</html>