<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0" />
    <link rel="stylesheet" href="../index.css">
    <link rel="icon" href="../img/Decenwser.ico">
    <script src="/pages/convert/progressBar.js" defer></script>
    <script src="../pages/main/clear.js" defer></script>
    <script src="../pages/main/getPage.js" defer></script>
    <script src="../pages/main/roots.js" defer></script>
    <script src="../pages/main/storeDomain.js" defer></script>
    <script src="../pages/main/searchBar.js" defer></script>
    <script src="../pages/main/modifyNetwork.js" defer></script>
    <script src="../pages/main/toDocumentation.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
  </head>
  <body id="main">
    <div id="appCollector">
      <title>{{title}}</title>
      <header class="header"> 
        <div class="container"> 
          <div class="btn-menu"> 
            <label for="btn-menu"> 
              <p id="unlock" class="material-symbols-outlined"> input </p>
            </label> 
          </div>
        </div>
      </header> 
      <div class="capa"></div>
      <input type="checkbox" id="btn-menu"/> 
      <div class="container-menu"> 
        <div class="cont-menu"> 
          <nav> 
            <div id="top-bar"> 
              <NavLink id="route" onclick="uploadAWeb()"> Upload a web
                <p>.</p>
                <div id="item" class="material-symbols-sharp"> language </div>
              </NavLink> <div id="route" onclick="toDocumentation()"> More about
                <p>..</p>
                <div id="item" class="material-symbols-outlined"> assignment </div>
              </div>
              </NavLink> <div id="route" onclick="modifyNetwork()"> Change Network
                <p>..</p>
                <div id="item" class="material-symbols-outlined"> router </div>
              </div>
              </div>
            </nav> 
              <label for="btn-menu" class="material-symbols-outlined"> close </label> 
            </div></div>
            <div id="container">
              <h1 id="Decenwser">Decenwser</h1> 
              <br>
              <input type="text" name="search" id="input-bar"/>  
            </div>
          </div>
        </body>
  <div id="load-container" style="display:none">
    <title>Loading</title>
    <p id="phrase"></p>
    <p id="autor"></p>
    <p id="cite"></p>
    <div id="background-bar">
        <div id="fill-bar"></div>
    </div>
  </div>
</html>
