#load-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
#phrase, #autor, #cite {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    margin-bottom: 10px;
}
#background-bar {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    height: 20px;
    background-color: white;
    width: 90%;
}
#fill-bar {
    height: 20px;
    background-color: #00FF19;
    width: 90%;
    transition: width 0.2s ease-in-out;
    border-radius: 5px;
}